@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  background: #101219;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input {
  letter-spacing: 0;
}

button {
  appearance: none;
}

img {
  max-width: 100%;
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
